@charset "UTF-8";

body{background-color: rgb(135, 206, 250);
font: normal 15pt arial;}

header{text-align: center;}

section{background-color: white;
border-radius: 20px;
text-align: center;
padding: 20px;
width: 400px;
margin: auto;
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);}

footer{text-align: center;}