@charset "UTF-8";

body{background-color: lightskyblue;
font: normal 15pt arial;}

header{text-align: center;}

section{background-color: white;
border-radius: 20px;
text-align: center;
padding: 20px;
width: 200px;
margin: auto;
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);}

footer{text-align: center;}